- let displayPage = page;
- let query = searchText;
- let i = 1;
div.pagination
    unless displayPage == 1
        a.button(href = `/books/?page=${+displayPage - 1}&search=${query}`) Prev
    ul
        while i <= totalPages
            li
                a(href = `/books/?page=${i}&search=${query}`)= i++
    unless displayPage == totalPages
        a.button(href = `/books/?page=${+displayPage + 1}&search=${query}`) Next
    else