extends layout.pug

block content
    h1 Update Book
    form(method='POST', action="/books/" + singleBook.id)
        if error
            h2.error Oooops!
            ul.error
                each value in error.errors
                    li= value.message
        p
            label(for="title") Title
            input(name="title" type="text" id="title" value=singleBook.title)
        p
            label(for="author") Author
            input(name="author" type="text" id="author" value=singleBook.author)
        p
            label(for="genre") Genre
            input(name="genre" type="text" id="genre" value=singleBook.genre)
        p
            label(for="year") Year
            input(name="year" type="text" id="year" value=singleBook.year)
        p
            input(type="submit" value="Update Book")
    form(method="post" action='/books/' + singleBook.id + '/delete' onsubmit="return confirm('Do you really want to delete this book?');")
        p
            a.button(href="/books") Cancel
        p
            input(type="submit" value="Delete Book")